@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  background: #000;
  overflow: hidden; }

#background {
  position: relative;
  width: 100%;
  background: #333;
  background-size: cover;
  background-image: url("../img/bg.png");
  background-position: center; }

#landing-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #landing-page #notice {
    background: rgba(236, 240, 241, 0.8);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center; }
    #landing-page #notice h1 {
      margin: 20px;
      font-size: 3rem;
      font-weight: 300; }
    #landing-page #notice h2 {
      font-weight: 300; }
    #landing-page #notice hr {
      border: 1px solid black;
      width: 60px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }
  footer p {
    color: #d0dadc;
    font-weight: 300; }
    footer p a {
      text-decoration: none;
      color: #6c8c93;
      padding-bottom: 1px;
      margin-left: 2px; }
      footer p a:hover {
        color: #d0dadc;
        border-bottom: 1px solid #6c8c93; }
