@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  background: #000;
  overflow: hidden; }
  html #wrapper, body #wrapper {
    position: relative;
    width: 100%;
    background: #333;
    background-size: cover;
    background-image: url("../img/header.jpg");
    background-position: center; }
  html #notice, body #notice {
    position: absolute;
    text-align: center;
    background: rgba(236, 240, 241, 0.8);
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px; }
    html #notice h1, body #notice h1 {
      font-weight: 400; }
    html #notice h2, body #notice h2 {
      font-weight: 300; }
  html footer, body footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; }
    html footer p, body footer p {
      color: #d0dadc;
      font-weight: 300; }
      html footer p a, body footer p a {
        text-decoration: none;
        color: #556c72; }
        html footer p a:hover, body footer p a:hover {
          text-decoration: underline; }

@media only screen and (max-device-width: 480px) {
  #notice h2 {
    font-size: 3.125rem; }
  footer p {
    font-size: 2.5rem; } }
